<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} Page | 멋스타그램</title>
  </head>
  <body>
    <div>{% block content %} {% endblock %}</div>
    <div>
      {%if request.user.is_authenticated%}
        {% comment %} <span> 로그인 상태: {{request.user.username}} </span>  {% endcomment %}
        <a href="{%url 'accounts:login'%}"> 로그인</a>
        {%else%}
        {% comment %} <span> 비로그인 상태 {% endcomment %}
        <a href="{%url 'accounts:login'%}"> 로그인</a>
        <a href="{%url 'accounts:signup'%}"> 회원가입</a>
      {% endif%}
    </div>
  </body>
</html>