<mapper namespace="org.zerock.yuchaemin.mapper.post.PostMapper">
    <insert id="createPost" parameterType="org.zerock.yuchaemin.mapper.entity.PostEntity">
        INSERT INTO post (title, content, writer, board_entity_id)
        VALUES (#{title}, #{content}, #{writer}, #{boardEntity.id})
    </insert>
</mapper>